# Ignore directories
/vendor/
/node_modules/

# Ignore environment files
.env
.env.backup
.env.production

# Ignore log files
*.log

# Ignore OS and IDE specific files
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Ignore Laravel specific files and build artifacts
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
/public/build

# Ignore testing and cache files
.phpunit.result.cache
/.phpunit.cache

# Ignore development environment files
Homestead.yaml
Homestead.json
/.vagrant

# Other specific files
storage/*.key
/storage/pail
auth.json
